// Overwrite Bootstrap's variables here
// You can find them in node_modules/bootstrap/scss/_variables.scss
// Copy the variables you need into this file, don't modify files under node_modules/

// You can uncomment what you need:

// _-*-_-*-_ Settings _-*-_-*-_

// Enabling shadows and gradients
$enable-shadows: true;
$enable-gradients: true;

// _-*-_-*-_ Colors _-*-_-*-_

// Theme colors
$primary: #cd94f3;
$secondary: #95b2df;
$success: #90faa9;
$info: #b0b9ff;
$warning: #ef8143;
$danger: #df5561;
$light: #dce2e9;
$dark: #0f1319;

// Adding (!) an additional theme color (ex. classes btn-cool, bg-cool)
//$theme-colors: (
//  "cool": #4d3fa3
//);

// Body Colors
//$body-bg:                   $white !default;
//$body-color:                $gray-900 !default;

// _-*-_-*-_ Components _-*-_-*-_

// Basic Components
//$line-height-lg:              1.5 !default;
//$line-height-sm:              1.5 !default;

//$border-width:                1px !default;
//$border-color:                $gray-300 !default;

//$border-radius:               .25rem !default;
//$border-radius-lg:            .3rem !default;
//$border-radius-sm:            .2rem !default;

//$box-shadow-sm:               0 .125rem .25rem rgba($black, .075) !default;
//$box-shadow:                  0 .5rem 1rem rgba($black, .15) !default;
//$box-shadow-lg:               0 1rem 3rem rgba($black, .175) !default;

//$component-active-color:      $white !default;
//$component-active-bg:         theme-color("primary") !default;

//$caret-width:                 .3em !default;

//$transition-base:             all .2s ease-in-out !default;
//$transition-fade:             opacity .15s linear !default;
//$transition-collapse:         height .35s ease !default;

// Buttons

// Forms

// Dropdowns

// Navs

// Navbar

// Pagination

// Jumbotron

// Cards

// Tooltips

// Popovers

// Badges

// Modals

// Alerts

// Progress bars

// List group

// Image thumbnails

// Breadcrumbs

// Carousel

// Tables

// _-*-_-*-_ Misc _-*-_-*-_

// Close

// Code

// Printing

// Figures

// Z-index master list